<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="authToken" value="" />
		<add key="channelId" value="" />
		<add key="TitleFormat" value="Gran Turismo 4: {0}% complete | {1}/{2} events complete | {3} gold licenses | {4} ASpec Points" />
		<add key="ProcPath" value="" />
		<add key="McPath" value="" />
		<add key="bIsOnline" value="false" />
	</appSettings>
</configuration>